*{
    font-family:monospace;
}

body{
    background-color: darkgray;
    color: black;
    margin: 10px;
    text-align: center;
}

h1{
    font-family:monospace;
}

table#form-initial-bias{
    margin:auto;
    td{
        width:20%;
    }
}